/* Scene Settings */

label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate(-50%, -125%);
  transform: translate(-50%, -125%);
  cursor: pointer;
}

.border {
  display: block;
  margin-top: 4.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  opacity: 0%;
}

/* //////////////////////////////////////////////////////// */
/* Card Settings */
.card {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.front,
.back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
}

.card_content {
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* //////////////////////////////////////////////////////// */
/* Front Side Content */

/* //////////////////////////////////////////////////////// */
/* Back Side Content */
.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* //////////////////////////////////////////////////////// */
/* Rotates Card */
:checked + .card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
/* //////////////////////////////////////////////////////// */
/* Button */

.button__object {
  padding-top: 4rem;
}

.button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 30px;
  transition: 0.3s;
  display: inline-block;
}
.button:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: white;
  color: black;
}

/* //////////////////////////////////////////////////////// */
/* Hides Checkbox */
input {
  display: none;
}
